@use "../../../base/mixins" as *;
@use "../../../base/root" as *;

.contacts_info {
    @include flex-column;
    width: 333.46px;
    height: 139px;
    align-items: center;
}

.contacts_item {
    display: flex;
    align-items: center;
    width: 190px;
    padding: 5px 0;
}

.icon {
    margin-right: 15px;
    width: 18px;
}

.contacts_icon {
    display: flex;
    gap: $gap_2xl;
    width: 15px;
    justify-content: center;
    margin-top: 30px;
}

.icon_cont {
    width: 20px;
    cursor: pointer;
}



