@use "../../../base/root" as *;

.wedding_planning_title {
    font-family: $font_fam_title;
    width: 1040px;
    font-size: $font_size_title;
    color: $color_white;
    margin: 0 auto;
    text-align: center;
    padding-top: 93px;
    padding-bottom: 88px;

}