.weddings_wrapper {
  background: linear-gradient(180deg, #9A8477 0%, #E7DFD4 100%);
  border-radius: 20px 20px 0 0;
  height: 800px;
}0deg, rgba(255, 255, 255, 0) 90.98%, #FFFFFF 100%), linear-gradient(0deg, #EFE8DD, #EFE8DD);
}