// @media (min-width: 1059px) and (max-width: 1140px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 25px 79px;
//     }

//     .hero_title {
//         font-size: 50px;
//         height: auto;
//     }

//     .hero_button {
//         width: 325px;
//         height: 60px;
//         margin-top: 35px;
//         font-size: 17px;
//     }
// }

// @media (min-width: 941px) and (max-width: 1009px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 21px 59px;
//     }

//     .hero_title {
//         font-size: 40px;
//         height: auto;
//     }

//     .hero_subtitle {
//         font-size: 16px;
//     }

//     .hero_button {
//         width: 300px;
//         height: 50px;
//         font-size: 16px;
//         margin-top: 25px;
//     }
// }

// @media (min-width: 872px) and (max-width: 940px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 19px 49px;
//     }

//     .hero_title {
//         font-size: 38px;
//         height: auto;
//     }

//     .hero_subtitle {
//         font-size: 16px;
//     }

//     .hero_button {
//         width: 260px;
//         height: 45px;
//         font-size: 14px;
//         margin-top: 2px;
//     }
// }

// @media (min-width: 750px) and (max-width: 872px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 18px 49px;
//     }

//     .hero_title {
//         font-size: 36px;
//         height: auto;
//         max-width: 580px;
//     }

//     .hero_subtitle {
//         width: 450px;
//         font-size: 14px;
//     }

//     .hero_button {
//         width: 250px;
//         height: 40px;
//         font-size: 12px;
//         margin-top: 15px;
//     }
// }

// @media (min-width: 649px) and (max-width: 750px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 16px 40px;
//     }

//     .hero_title {
//         font-size: 30px;
//         height: auto;
//     }

//     .hero_subtitle {
//         width: 400px;
//         font-size: 12px;
//     }

//     .hero_button {
//         width: 230px;
//         height: 36px;
//         font-size: 10px;
//         margin-top: 10px;
//     }
// }

// @media (min-width: 468px) and (max-width: 649px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 14px 31px;
//     }

//     .hero_title {
//         font-size: 22px;
//         height: auto;
//     }

//     .hero_subtitle {
//         font-size: 12px;
//         width: auto;
//     }

//     .hero_button {
//         width: 200px;
//         height: 32px;
//         font-size: 10px;
//         margin-top: 0;
//     }
// }

// @media (min-width: 320px) and (max-width: 468px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 12px 22px;
//     }

//     .hero_title {
//         font-size: 18px;
//         height: auto;
//     }

//     .hero_subtitle {
//         font-size: 10px;
//         width: auto;
//     }

//     .hero_button {
//         width: 200px;
//         height: 28px;
//         font-size: 10px;
//         margin-top: 0;
//     }
// }

// @media (max-width: 320px) {
//     .hero_content {
//         left: 42px;
//         right: 42px;
//         width: auto;
//         max-width: none;
//         padding: 10px 13px;
//     }

//     .hero_title {
//         font-size: 16px;
//         height: auto;
//         width: auto;
//     }

//     .hero_subtitle {
//         font-size: 8px;
//         width: auto;
//     }

//     .hero_button {
//         width: auto;
//         height: 24px;
//         font-size: 8px;
//         margin-top: 0;
//         text-align: center;
//     }
// }