@use "../../../base/root" as *;

.text_ref {
    text-align: center;
}

.title_ref {
    font-family: $font_fam_title;
    font-size: $font_size_title;
    color: $color_title;
    font-weight: $font_weight_xl;
}

.subtitle_ref {
    font-family: $font_fam_subtitle;
    font-size: $font_size_subtitle;
    font-weight: $font_weight_xs;
    padding-top: 20px;
    padding-bottom: 80px;
}