@use "../../../base/mixins" as *;
@use "../../../base/root" as *;


@media (max-width: 1190px) {
    .block_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}