@use "../../../base/root" as *;

.comments {
    width: 510px;
    margin: 0 auto;
}

.title_comment {
    font-size: $font_size_base;
    font-family: $font_fam_title_two;
    font-weight: $font_weight_xl;
    padding: 15px 0 15px 0;

}

.subtitle_comment {
    font-size: $font_size_base;
    font-family: $font_fam_subtitle;
    font-weight: $font_weight_s;
}