@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.weddings_text {
    @include flex-column;
    text-align: center;
    width: 864px;
    height: 46px;
    margin: 0 auto;
    gap: $gap_m;
    padding-top: 133px;
}

.weddings_title {
    font-size: $font_size_title;
    color: $color_title;

}

.weddings_subtitle {
    font-size: $font_size_subtitle;
    color: $color_black;
    font-weight: $font_weight_xs;
    font-family: $font_fam_title_two;
}
