@use "../../../base/root" as *;
@use "../../../base/mixins" as *;

.team_block {
    @include flex_column_center;
    width: 597px;
    height: 275px;
    background: rgba(239, 232, 221, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: $border_radius_xl;
    padding: 27.5px 47.5px;
    font-family: $font_fam_subtitle;
    font-weight: $font_weight_m;
    position: absolute;
    top: 145px;
    left: 571px;
    z-index: 2;
    font-size: $font-size-base;

}